html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote,a {
	 padding:0;
	 margin:0;
	 font-size: 100%;
	 font-weight: normal;
}
ul,ol{list-style:none;}
a{text-decoration:none;}
body,html,.i-container{
	width:100%;；
	height:100%;
	font:12px "微软雅黑","宋体";
}
.i-container{min-width:962px;}
.i-center,.i-buttom{width:962px;margin:0 auto;}
.i-top,.i-footer{width:100%;}
.i-webtop{
	width:100%;
	height:33px;
	background:url('images/index_01.png') repeat;
}
.i-navbar{
	width:100%;
	height:100px;
	line-height:100px;
	text-align:center;
}
.i-navbar ul{padding-left:50px;}
.i-navbar ul li{
	display:inline-block;
	height:30px;
	line-height:30px;
	width:90px;
	background:url('images/index_02.png') no-repeat right center;
	margin-left:-2px;
	margin-right:-2px;
}
.i-navbar ul li:first-child{border-left:none;}
.i-navbar ul li a{color:#666;text-align:center;}
.i-navbar ul li:hover{border-bottom:3px solid #006ec3;}
.i-header{height:380px;background:url('images/index_04.png') no-repeat center;}
.i-center{
	position:relative;
	padding-top:27px;
	margin-bottom: 20px;
}
.i-menu{
	width:210px;
	position:absolute;
	float:left;
}
.i-main{
	width:740px;
	padding-left: 210px;
	margin-top: -20px;
}
.i-left{
	width:520px;
	float:left;
	margin-left:10px;
}
.i-right{width:210px;margin-left:540px;}
.titleone{
	color:#006ec3;
	text-align:left;
	font-size:13px;
	font-weight:bold;
	padding:0 10px 8px 10px;
}
.titleone > a{color:#999;float:right;}
.titletwo{
	color:#666;
	font-size:15px;
	font-weight:bold;
	margin-top:10px;
	padding:0 0 0 30px;
	line-height:30px;
	height:30px;
	background:url('images/index_26.png') no-repeat left center;
}
.i-bcolor{color:#000;}
.i-bline{background:url('images/index_03.png') no-repeat center bottom;}
.i-gline{background:url('images/index_12.png') no-repeat center bottom;}
.i-cline{background:url('images/index_13.png') no-repeat center bottom;}
.i-hline{background:url('images/index_18.png') no-repeat center bottom;}
.i-search{background:url('images/index_07.png') no-repeat left 50%;margin-bottom:40px;}
.i-search form{text-align:center;margin-top:46px;}
.i-search form input{
	height:20px;
	width:122px;
	border:1px solid #8f8f8f;
}
.i-search form button{
	border:1px solid #8f8f8f;
	background-color:#fff;
	border-radius:0;
	height:24px;
	width:50px;
	margin-left:10px;
	cursor: pointer;
}
.i-service{margin-top:20px;}
.i-servicetwo{width:254px;}
.i-content{padding-left:10px;}
.i-content > ul{padding:10px 0;}
.i-content > ul:first-child{background:url('images/index_08.png') no-repeat center bottom;}
.i-content > ul li a,.i-content > ul li{line-height:30px;color:#666;}
.i-content > ul:first-child li a{padding-left:35px;}
.i-content > ul:first-child li:first-child a{background:url('images/index_20.png') no-repeat left center;}
.i-content > ul:first-child li:nth-child(2) a{background:url('images/index_24.png') no-repeat left center;}
ul.i-list{padding:0 5px;}
ul.i-list li,#main1 ul li{line-height:35px;background:url('images/index_08.png') no-repeat center bottom;}
#main1 ul li,ul.i-blist li{background:url('images/index_09.png') no-repeat center bottom;}
.i-servicetwo ul li{background:url('images/index_15.png') no-repeat center bottom;}
ul.i-list li a,#main1 ul li a,.i-pagination a{color:#666;}
ul.i-list li a:hover,.i-pagination a:hover{color:#999;}
ul.i-list li a span,#main1 ul li a span{display:inline-block;}
ul.i-list li a span.i-width10{width:100px;padding-left:10px;}
ul.i-list li a span.i-width20,#main1 ul li a span.i-width20{width:80px;text-align:right;}
#main1 ul li a span.i-width30,ul.i-list li a span.i-width30{width:400px;padding-left:10px;}
.i-servicetwo ul li a span.i-width40{width:150px;padding-left:10px;}
#tabs1{
	text-align:left;
	width:520px;
	border:1px solid #d5d5d5;
	background:url('images/index_11.png') repeat-x top center;
}
.menu1box{
	position:relative;
	overflow:hidden;
	height:35px;
	width:520px;
	text-align:left;
}
#menu1{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
#menu1 li{
	float:left;
	display:block;
	cursor:pointer;
	width:72px;
	text-align:center;
	line-height:35px;
	height:35px;
	color:#006ec3;
	font-size:13px;
	font-weight:bold;
}
#menu1 li.hover{
	background:#fff;
	border-left:1px solid #d5d5d5;
	border-right:1px solid #d5d5d5;
}
.main1box{
	clear:both;
	margin-top:-1px;
	border:1px solid #d5d5d5;
	height:181px;
	width:519px;
}
#main1 ul{display: none;}
#main1 ul.block{display: block;}
.i-height10{height:286px;}
.i-height20{height:186px;}
.i-height30{height:100px;}
.i-pagination{margin:5px 0 0 15px;}
.i-pagination a{margin:0 5px;}
.i-servicethree{display:inline-block;}
.i-margin10{margin-left:8px;}
form.i-login{
	width:181px;
	margin:0 auto 15px;
	padding-top:10px;
}
form.i-login > p{margin:15px 0;height:35px;}
form.i-login > p:first-child{background:url('images/index_10.png') no-repeat center center;}
form.i-login > p:nth-child(2){background:url('images/index_14.png') no-repeat center center;}
form.i-login > p > input{
	width:145px;
	height:25px;
	margin:5px 0 0 25px;
	border:none;
	color:#666;
	background-color:transparent;
}

form.i-login > button{
	width:166px;
	height:44px;
	background:url('images/index_17.png') no-repeat center center;
	border:none;
	cursor:pointer;
}
.i-rlink{text-align:right;margin:10px 20px 0 0;}
.i-rlink a{color:#666;}
.i-product{position:relative;}
ul.i-imglist{margin:10px 0;padding:0 20px;}
ul.i-imglist li{
	position:absolute;
	float:left;
	background:none;
	line-height:25px;
}
ul.i-imglist li:nth-child(2){margin:0 0 0 190px;}
ul.i-imglist li:nth-child(3){margin:0 0 0 380px;}
ul.i-imglist li:nth-child(4){margin:0 0 0 570px;}
ul.i-imglist li:nth-child(5){margin:0 0 0 760px;}
ul.i-imglist li a{text-align:center;}
ul.i-imglist li a span{display:block;}
ul.i-imglink{padding:0 10px;}
ul.i-imglink li:nth-child(2){margin:0 0 0 120px;}
ul.i-imglink li:nth-child(3){margin:0 0 0 240px;}
ul.i-imglink li:nth-child(4){margin:0 0 0 360px;}
ul.i-imglink li:nth-child(5){margin:0 0 0 480px;}
ul.i-imglink li:nth-child(6){margin:0 0 0 600px;}
ul.i-imglink li:nth-child(7){margin:0 0 0 720px;}
ul.i-imglink li:nth-child(8){margin:0 0 0 840px;}
.i-footer{
	height:81px;
	background-color:#eaeaea;
	border-top:1px solid #b4b4b4;
	text-align:center;
	color:#333;
	padding-top:35px;
}
.i-footer p{line-height:25px;}

